<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="FREE CRM APPLICATION AUTOMATION TEST SUITE" >
  <test name="Free CRM App Test Cases" >
    <classes>
       <class name="com.mercury.testcases.LoginPageTest" />
       <class name="com.mercury.testcases.HomePageTest" />
       <class name="com.mercury.testcases.ContactsPageTest" />
    </classes>
  </test>
</suite>
	